In [1]:
# READ CSV 

import pandas as pd

# pd.options.mode.chain_assignment = None 

df = pd.read_csv('student_records.csv')

df

    Name  OverallGrade Obedient  ResearchScore  ProjectScore Recommend
0   Henry            A        Y             90            85       Yes
1    John            C        N             85            51       Yes
2   David            F        N             10            17        No
3  Holmes            B        Y             75            71        No
4  Marvin            E        N             20            30        No
5   Simon            A        Y             92            79       Yes
6  Robert            B        Y             60            59        No
7   Trent            C        Y             75            33        No

In [2]:
# TAKE FEATURE'S NAMES

feature_names = ['OverallGrade', 'Obedient', 'ResearchScore', 'ProjectScore']
training_features = df[feature_names]

outcome_name = ['Recommend']
outcome_label = df['Recommend']

In [ ]:
# Numeric, categorical feature names
numeric_feature_names = ['ResearchScore', 'ProjectScore']
categorical_feature_names = ['OverallGrade', 'Obedient']

In [ ]:
# Scale, normalize 2 numeric score-based attributes 

from sklearn.preprocessing import StandardScaler 

ss = StandardScaler() 
ss.fit(training_features[numeric_feature_names])

training_features[numeric_feature_names] = ss.transform(training_features[numeric_feature_names])

training_features

In [ ]:
# Handle categorical features

training_features = pd.get_dummies(training_features, columns=categorical_feature_names)

training_features

In [ ]:
categorical_engineered_features = list(set(training_features.columns) - set(numeric_feature_names))

In [ ]:
categorical_engineered_features